/* Write your code here. */
.emoji-box {
  background-color: #ffffff33;
  width: 190px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px #ffffff30 solid;
  margin: 10px;
  cursor: pointer;
  outline: none;
}

.emoji-size {
  width: 80%;
}

.each-emoji {
  padding-left: 0px;
}

@media screen and (max-width: 576px) {
  .emoji-box {
    width: 120px;
    height: 120px;
    border: 1px #ffffff30 solid;
    margin: 5px;
  }
  .emoji-size {
    width: 50%;
  }
}
